@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: black;
    font-family: 'Montserrat', sans-serif;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
}
form{
    padding: 60px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: hidden;

}
#corpo-form{
    display: flex;
    flex-direction: column;
    border-top-right-radius: 50px;
}
.f-container{
    background-color: white;
    border-radius: 4px;
    padding: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    gap: 30px;
    overflow: hidden;
}
.f-container p{
    display: flex;
    flex-direction: column;
    margin-left: 8%;
}
.f-container-ft{
    background-color: white;
    border-radius: 4px;
    padding: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}
.inputs, .cpf_cnpj{
    font-size: 1.3em;
    padding: 15px 20px 5px 20px;
    max-width: 350px;
    width: 95%;
    background: none;
    border: none;
    border-bottom: 1.5px solid #000;
}
input:focus-visible {
    outline: none;
}
.valido {
    border-bottom: 1px solid green;
}
.invalido {
    border-bottom: 1px solid red;
}
h1{
    font-size: 2.1em;
    text-align: center;
    padding: 10px;
    max-width: 200px;
}
label{
    font-size: 1.8em;
}
#continuar{
    max-width: 200px;
    text-align: center;
    margin: 30px auto 0 auto;
    font-size: 1.4em;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
    box-shadow: inset 0 0 10px #333;
}
#continuar:hover{
    background-color: black;
    color: white;
    box-shadow: inset 0 0 10px #fff;
}
input[type="file"]{
    display: none;
}
#ft{
    padding: 10px;
}
#img{
    width: 300px;
    height: 300px;
    overflow: hidden;
    background-repeat: round;
    box-shadow: inset 0 0 10px #333;
    border-radius: 4px;
}
#voltar{
    text-decoration: none;
    padding: 15px;
    margin: 0 auto;
    background-color: #888;
    border-radius: 30px;
}
#footer p {
    background: #222;
    color: rgb(241, 237, 237);
    padding: 30px;
    text-align: center;
}

#text-footer{
    color: #eee;
}

@media (max-width: 900px){
    *{
        font-size: 1em;
    }
    form{
        padding: 30px;
    }
    .f-container, .f-container-ft{
        padding: 5px;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .inputs, .cpf_cnpj{
        width: 100%;
    }
}