@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body *{
    box-sizing: border-box;
}


#navbar {
    width: 100%;
    background: #111;
    color: #eee;
    height: 80px;
    
}

#navbar-container {
   width: 80%;
   height: 100%;
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-items li {
    padding: 10px;
}


.main-login{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right,rgb(223, 214, 214) , #111);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lado-esquerdo > h1{
    font-size: 3vw;
    color: #333;
}
.lado-esquerdo-img{
    width: 25vw;
}

.lado-esquerdo{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.lado-direito{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #222;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #111;
}

.card-login > h1 {
    color: rgb(255, 255, 255);
    font-weight: 800;
    margin: 0;
    font-size: 32px;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #333;
    color: #eee;
    font-size: 12pt;
    box-shadow:0px 10px 40px #00000056 ;
    outline: none;
    box-sizing: border-box;
}


.textfield > label{
    color: #eee;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #eee;
}


.btn-login{
    width: 100%;
    padding: 16px 0;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #222;   
    background: #eee;
    cursor: pointer;
    box-shadow: 0px 5px 20px -12px rgb(82, 82, 82);
}


#footer {
    background: #222;
    color: #eee;
    padding: 30px;
    text-align: center;
}

 a:link{
    color: #eee; 
    text-decoration: none;
}
a:visited{
    color: #eee;
}
a:hover{
    text-decoration: underline;
    color: #00CDCD;

}

@media only screen and (max-width:950px){
    .card-login{
        width: 85%;
    }
}

@media screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }

    .lado-esquerdo > h1 {
        display: none;
    }

    .lado-esquerdo{
        width: 100%;
        height: auto;
    }

    .lado-direito{
        width: 100%;
        height: auto;
    }

    .lado-esquerdo-img{
        width: 50vw;
    }

    .card-login{
        width: 90%;
    }

    #navbar{
        height: 60%;
     }
     
     #navbar-container{
         flex-direction: column;
         padding: 20px 0;
     }
     
     #navbar-items {
         flex-direction: column;
         text-align: center;
         width: 100%;
         padding: 0;
     }
     
     #navbar-items li:nth-child(2){
         border-top: 1px solid #333;
         
         border-bottom: 1px solid #333;
     }
}





