
:root {
    --colorDetalhes:#e40046;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {font-family: Arial, Helvetica, sans-serif;}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}



/*navbar*/
#navbar {
    width: 100%;
    background: #02090eca;
    color: rgb(245, 245, 245);
    height: 68px;
    margin-top: -5%;
  
}

#navbar-container {
   width: 80%;
   height: 100%;
   margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;

}

#navbar-container h3 a{
   color: #eee;
 
 }

#navbar-items {
 
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-items li a {
    color: #eee;
    padding: 10px;
}

.galery{
    align-items: center;
    justify-items: center;
    display: -ms-inline-grid;
}

.coluna {
    display: inline-grid;
}

body{
    background:#e9e9e9 ;
    overflow-x: hidden;
    padding-top: 90px;
    font-family: 'Courier New', Courier, monospace;  /*MUDAR A FONTE*/
    margin: 0 100px; 
}

.profile-header{
    background: #fff;
    width: 100%;
    display: flex;
    height: 190px;
    position: relative;
    box-shadow: 0px 3px 4px rgba(0,0,0,.2);
}

.profile-img{
    float: left;
    width: 340px;
    height: 200px;
}

.profile-img img{
    border-radius: 50%;
    height: 230px;
    width: 230px;
    border: 4px solid #fff;
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
    position: absolute;
    left: 50px;
    top: 20px;
    z-index: 5;
    background: #fff;
}

.profile-nav-info{
float: left;
flex-direction: column;
align-content: center;
padding-top: 60px;
}

.profile-nav-info h3{
    font-variant: small-caps;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
}

.profile-nav-info .endereco{
    display: flex;
    font-weight: bold;
    color: #777;
}

.profile-nav-info .endereco p{
    margin-right: 5px;
}

.perfil-opcoes{
    width: 40px;
    height: 40px;
    background: var(--colorDetalhes);
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease-in-out;
    outline: none;
}

.perfil-opcoes .notificacao i{
    color: #fff;
    font-size: 1.2rem;
    transition: all .5s ease-in-out;
}

.perfil-opcoes:hover{
    background: #fff;
    border: 1px solid var(--colorDetalhes);
}

.perfil-opcoes:hover .notificacao i{
 color: var(--colorDetalhes);
}

.perfil-opcoes .notificacao .alerta-mensagem{
    position: absolute;
    top: -5px;
    right: -5px;
    background: #fff;
    color: var(--colorDetalhes);
    border: 1px solid;
    padding: 5px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    font-weight: bold;
}

.main-bd{
    width: 100%;
    display: flex;
    
}

.profile-side{
    width: 300px;
    background: #fff;
    box-shadow:  0px 3px 5px rgba(0,0,0,.2);
    padding: 90px 30px 20px;
    font-family: 'Courier New', Courier, monospace; /*mudar fonte*/
    z-index: 99;
}

.profile-side p{
    margin-bottom: 7px;
    color: #333;
    font-size: 14px;
}

.profile-side p i{
    color: var(--colorDetalhes);
    margin-right: 10px;
}

.mobole-no i {
    transform: rotateY(180deg);
}

.profile-btn{
    display: flex;
}

input[type="file"]{
    display: none;
}

label{
    padding: 20px 10px;
    width: 200px;
    background-color: #333;
    color: #fff;
}



button.enviar{
    border: 0;
    padding: 6px 12px;
    width: 80px;
    border-radius: 6px;
    background: var(--colorDetalhes);
    font-family: 'Courier New', Courier, monospace; /*MDUAR A FONTE*/
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    transition: background .3s ease-in-out;
    color: #fff;
}

button.chatbtn,
button.createbtn
{
    border: 0;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    background: #000000e1;
    font-family: 'Courier New', Courier, monospace; /*MDUAR A FONTE*/
    font-size: 1rem;
    margin: 5px 2px;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    transition: background .3s ease-in-out;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,.3);
    color: #fff;
}

button.chatbtn:hover,
button.createbtn:hover{
    background: rgba(280,0,70,.9);
}

button.chatbtn i,
button.createbtn i{
    margin-right: 5px;
}




.user-raring{
    display: flex;
}

.user-raring h3{
    font-size: 2.5rem;
    font-weight: 200;
    margin-right: 5px;
    letter-spacing: 1px;
    color: #666;
}

.user-raring .no-user{
    font-size: .9rem;

}

.rate{
    padding-top: 6px;
}

.rate i{
    font-size: .9rem;
    color: var(--colorDetalhes);
}

.nav{
    width: 100%;
    z-index: -1;
}

.nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    height: 40px;
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0,0,0,.3);
}

.nav ul li{
    padding: 10px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    transition: all .2s ease-in-out;
}

.nav ul li.active,
.nav ul li:hover{
    box-shadow: 0px -3px 0px rgba(288,0,70,
    .9) inset;
}

.profile-body{
    width: 100%;
    z-index: -1;
}

.tab{
    padding: 20px;
    width: 100%;
    text-align: center;
    display: none;
}

#see-more-bio,
#see-less-bio{
    color: var(--colorDetalhes);
    cursor: pointer;
    text-transform: lowercase;
}











@media(max-width:1100px) {
    .profile-side{
       width: 250px;
       padding: 90px 15px 20px ;
    }
    .profile-img img{
        height: 200px;
        width: 200px;
        left: 50px;
        top:50px;
    }
}

@media (max-width:900px ) {
    body{
        margin: 0 20px;
    }

    .profile-header{
        display: flex;
        height: 100%;
        flex-direction: column;
        text-align: center;
        padding-bottom: 20px;
    }

    .profile-img{
        float: left;
        width: 100%;
        height: 200px;

    }
    .profile-img img{
        position: relative;
        left: 0;
    }

    .profile-nav-info{
        text-align: center;
    }

    .profile-nav-info .endereco{
        justify-content: center;
    }
    .perfil-opcoes{
        right: 20px;
        top: 75%;
        transform: translateY(50%);
    }

    .main-bd{
        flex-direction: column;
        padding: 0px;
    }

    .profile-side{
        width: 100%;
        text-align: center;
        padding: 20px;
        margin: 5px 0;
    }

    .user-raring{
        justify-content: center;
    }
}

@media (max-width:400px){
    body{
        margin: 5px;
    }
    .profile-header h3{
        font-size: 1.7rem;
    }
    .profile-header p,
    .profile-header span{
        font-size: .9rem;
    }

    .perfil-opcoes{
        width: 30px;
        height: 30px;
        position: absolute;
        right: 15px;
        top: 83%;

    }

    .perfil-opcoes .notificacao .alerta-mensagem{
        top: -3px;
        right: -4px;
        padding: 4px;
        height: 15px;
        width: 15px;
        font-size: .7rem;
    }
}